<!--Главная страница-->
<div class="main">
    <div class="title">Вход для клиентов клуба</div>
    <!--Форма войти-->
    <div class="form1__com">
        <form role="form">
            <div class="form-group">
                <input type="tel" class="form-control placeholder-right" placeholder="Номер карты">
            </div>
            <div class="form-group">
                <input type="tel" class="form-control placeholder-right" placeholder="Телефон">
            </div>
            <div class="form-group">
                <button type="button" class="btn button-mod">Войти</button>
            </div>
        </form>
    </div>
    <!--/Форма войти-->
    <div class="title">Новости клуба</div>
    <!--Новости-->
    <div class="news news___com">
        <div class="item">
            <a class="block no_border" href="#">
                <div class="name">Уважаемые клиенты клуба на Советской!</div>
                <div class="date">25 апр. 2017 г.</div>
            </a>
            <hr>
        </div>
        <div class="item">
            <a class="block no_border" href="#">
                <div class="name">Уважаемые клиенты клуба на Советской!</div>
                <div class="date">25 апр. 2017 г.</div>
            </a>
            <hr>
        </div>
        <div class="item">
            <a class="block no_border" href="#">
                <div class="name">Уважаемые клиенты клуба на Советской!</div>
                <div class="date">25 апр. 2017 г.</div>
            </a>
            <hr>
        </div>
    </div> <!--/Новости-->
    <div class="clear"></div>
</div> <!--/Главная страница-->