// main: style.less

// Микси псих-холдер;
.input-placeholder(@color;) {
    input[placeholder] {
      color:@color;
    }
    ::-webkit-input-placeholder {
       color: @color;
    }
    :-moz-placeholder {/* Firefox 18- */
      color: @color;
    }
    ::-moz-placeholder {/* Firefox 19+ */
      color: @color;
    }
    :-ms-input-placeholder {
      color: @color;
    }
}
// Кнопка button class . button-mod;
.button-attr(@color;@w:100%;@padding:10px 0px;@size:16px;@option:10%;) {
    button {
        &.button-mod {
           background: @color;
           border: none;
           color: @white;
           padding: @padding;
           width: @w;
           box-shadow: none;
           font-size: @size;
        }
        &:hover {
           background: lighten(@color, @option);
           color: @white;
        }
     }
}
.button-border(@w:100%; @min-w: auto; @max-w: auto;@padding:10px 0px;) {
    border: 1px solid @white - 130;
    border-radius:3px;
    padding: @padding;
    text-align: center;
    cursor: pointer;
    width: @w;
    min-width: @min-w;
    max-width: @max-w;
    div {
      color: @white;
      font-size: 14px;
    }
    &:hover{

    }
}
.wrapper_mix() {
   min-width: 320px;
   max-width: 1042px;
   margin: 0 auto;
}
.width-fn(@w:100%; @min-w: auto; @max-w: auto;) {
  width: @w;
  min-width: @min-w;
  max-width: @max-w;
}
// Заголовок;
.title_mix(@padding:15px 0;){
    .title {
      font-size: @font-size-16;
      text-transform: uppercase;
      padding: @padding;
    }
}

/*Анимерованый бутерброд*/
.menu_qml(){
  .menu-qml {
    position: relative;
    overflow: hidden;
    width: 32px;
    height: 25px;
    font-size: 0px;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    top:3px;
  }
  .menu-qml:focus {
    outline: none;
  }
  .menu-qml span {
    display: block;
    position: absolute;
    top: 10px;
    left: 2px;
    right: 2px;
    height: 3px;
    background: @white;
    border-radius: 1px;
  }
  .menu-qml span::before,
  .menu-qml span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: @white;
    content: "";
    border-radius: 1px;
  }
  .menu-qml span::before {
    top: -8px;
  }
  .menu-qml span::after {
    bottom: -8px;
  }
  .menu-qml-icon span {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }
  .menu-qml-icon span::before {
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transition: -webkit-transform 0.3s, width 0.3s, top 0.3s;
    transition: transform 0.3s, width 0.3s, top 0.3s;
  }
  .menu-qml-icon span::after {
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.3s, width 0.3s, bottom 0.3s;
    transition: transform 0.3s, width 0.3s, bottom 0.3s;
  }
  .menu-qml-icon.active span {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .menu-qml-icon.active span::before,
  .menu-qml-icon.active span::after {
    width: 50%;
  }
  .menu-qml-icon.active span::before {
    top: 0;
    -webkit-transform: translateX(13px) translateY(0px) rotate(45deg);
    -ms-transform: translateX(13px) translateY(0px) rotate(45deg);
    transform: translateX(13px) translateY(0px) rotate(45deg);

  }
  .menu-qml-icon.active span::after {
    bottom: 0;
    -webkit-transform: translateX(13px) translateY(0px) rotate(-45deg);
    -ms-transform: translateX(13px) translateY(0px) rotate(-45deg);
    transform: translateX(13px) translateY(0px) rotate(-45deg);
  }

}