// main: screen.less

// Поключаем база;
@import "_base.less";

// Поключаем миксы;
@import "_mix.less";



/* Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: @screen-lg-min) {
  .main {
    .desktop {
       .schedule-tabs {
           div.name {
              font-size: 12px;
           }
          div.tab-captions {
             width: 147px;
            div.item a {
              white-space: normal;
            }
          }
       }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (max-width: @screen-md-min) {
  .bg {
     background-color: @base_color;
     background-image: url("@{images_m}bg_blur.png");
     background-repeat: no-repeat;
     background-size: 100% auto;
    .bg_blur {
        background-image: url("@{images_m}bg.png");
    }
  }
   #center {
      margin-top: 50px;
      background:none;
   }
   .mobile {
    display: block;
   }
   .desktop {
    display: none;
   }

  /*Анимерованый бутерброд*/
  .menu_qml();

   #header {
     height: 50px;
     background: @black;
     left: 0;
     position: fixed;
     right: 0;
     top: 0;
     z-index: 300;
     .wrapper_mix();
     // Контейнер;
    .container-fluid {
       padding-top: 11px;
       padding-bottom: 11px;
    }
    /*--Сетка xs-4 мод padding 5px --*/
    .col-mod {
      .make-xs-column(4,0px);
    }
    div.logo {
      text-align: center;
      img {
        width: 155px;
      }
    }
    div.login-header {
      height: 20px;
      text-align: right;
      margin: 0 0 0 auto;
      width: 40px;
      span {
        color:@white;
        font-size: 25px;
      }
    }
    .clearfix();
  }
   #menu_left {
    @border_color: #232323;
    background: fade(@black,40%);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0px;
    z-index: 200;
    cursor: auto;
    display: none;
    .menu-content {
      margin: 0 auto;
      overflow: hidden;
      height: 100%;
      .wrapper_mix();
      .menu-left-rel {
        background: @black;
        color: @white;
        margin-top: 50px;
        width: 260px;
        position: relative;
        left: -270px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        height: 100%;
        .panel-footer-menu {
          border-top: 1px solid @border_color;
          padding: 10px 12px;
             .phone{
               color: @white;
               font-size: 18px;
               margin: 0;
               padding: 5px 0;
               font-weight: bold;
               span{
                 color: @reg1;
               }
             }
             .time{
               font-size: 11px;
               color:red;
             }
        }
        .items {
          margin: 0px;
          .item {
            display: block;
            font-size: 16px;
            padding: 10px 12px;
            color:@white;
            border-top: 1px solid @border_color !important;
            &:hover {
              background: @reg2;
            }
            position: relative;
            &:after{
               content:"\e113";
               font-size: 12px;
               font-weight: normal;
               position: absolute;
               right: 10px;
               transform: rotate(90deg);
               font-family: 'Glyphicons Halflings';
               top: 11px;
            }
          }
        }
      }
    }
  }
   #footer {
      width: 100%;
      height: 50px;

      background: @black;
      .copyright {
        color: @white;
        display: block;
        font-size: 11px;
        padding: 30px 0 0;
      }
  }
   .main {
        .form1__com {
          width: 100%
        }
    }
}

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: @screen-sm-min) {

}

/* Small devices (mobile, 520px and up) */
@media only screen and (max-width: @screen-mobile-min) {
  #header {
    .container-fluid.mobile {
      display: table;
      width: 100%;
      .col-mod{
          display: table-cell;
          float: none;
          width: auto;
          vertical-align: top;
       }
    }
  }
  .trainer .photo {
    max-width: none;
    padding: 5px 0;
  }
  .trainer {
     h1.title{
       display: block;
     }
    .photo,.block {
         width: 100%;
    }
    .block {
      h1.title{
         display: none;
      }
    }
  }
}

@media only screen and (max-width: 355px) {

}

