
/*  Поключаем база;
==============================*/
@import "_base.less";

/* Поключаем миксы;
==============================*/
@import "_mix.less";

@import "@{bootstrap}utilities";

/* Глобальный стиль;
==============================*/
@import "global.less";

/* Медия запрос;
==============================*/
@import "global.less";

// Нвстройка каркас;
html, body, .wrapper{
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-size: @font-size-14;
  color: @base_color;
  background-color: #161616 ;
  // background-color: lighten(@black,20%);
  // background : url('@{images_m}bg.png') no-repeat fixed 50% 0px transparent;
}

.bg {

  //background-color: @base_color;
  //background-image: url("@{images_d}bg.jpg");
  // background-repeat: no-repeat;
  background : url('@{images_m}man.jpg') no-repeat fixed 50% 0px transparent;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  min-width: 320px;
  max-width: 740px;
  margin: 0 auto;
  z-index: -1;
  .bg_blur {
    // background-image: url("@{images_m}bg.png");
  }
}

// Запрет скроллит;
._menu_o {
  overflow: hidden;
}

.wrapper {
  display: table;
  width: 100%;
  .wrapper_mix();
}
/*---Шапка---*/
#header {
  // высота;
  @top: 6px;

  width: 100%;
  height: 130px;
  background: fade(@black,40%);
  .container-fluid.desktop {
    color: @white;
     .logo{
       margin: 0 auto;
       width: 240px;
     }
    .border-right{
      &::after {
        border-right: 1px dotted @grey1;
        content: "";
        height: 80px;
        position: absolute;
        right: -22px;
        top: 0;
      }
    }
    .social {
      margin: 12px 0 0;
      text-align: center;
      a {
        display: inline-block;
      }
    }
    .client {
      position: relative;
      margin: (@top + 18) 30px;
      padding-top: 7px;
      .badge{
        position: absolute;
        font-size: @font-size-11;
        padding: 3px 5px;
        top: 0;
        left:  -2px;
      }
      .balans {
        padding: 3px 0px 3px 30px;
      }
      a{
        padding-left: 30px;
      }
      span {
        text-transform: uppercase;
        font-size: @font-size-12;
        white-space: pre;
        vertical-align: top;
      }
      .red {
        margin-left: -3px;
        padding-left: 34px;
      }
      .aut{
        height: 48px;
      }
    }
    .contacts{
      margin: @top 0px
    }
    .logo-service {
      margin: @top 0px;
      padding-top: 7px;
      text-align: right;
    }
  }
  .clearfix();

}
// Меню основной;
#menu_left {
  .desktop{
    height: 100%;
    background: fade(@black,40%);
    /*border-radius: 5px 5px 0px 0px;*/
    margin-top: 10px;
  }
}
#menu_left .desktop div.item, div.menu_bottom div.item {
  padding: 20px 0px 20px 23px;
  float: left;
  position: relative;
  a{
    color: @white;
    font-weight: bold;
    text-transform: uppercase;
    &:hover,&.open{
      color: @reg;
    }
  }
}

// Контакты;
#header .contacts,
#footer .contacts{
  div.phone {
    color: @white;
    font-size: 31px;
    font-weight: bold;
    font-style: italic;
    white-space: pre;
    line-height: normal;
  }
  span.reg {
    color: @reg1;
    text-transform: none;
  }
  span.time {
    font-size: 10px;
    margin: 0px 0px 0px 2px;
    vertical-align: super;
  }
  div.des {
    margin: 9px 0px 0px 0px;
    color: @white;
    font-size: 11px;
    text-transform: uppercase;
    white-space: nowrap;
    width: 230px;
  }
  table.contact span.grey {
    border-bottom: 1px dotted @grey;
    color: #a1a0a0;
    font-style: italic;
    font-weight: bold;
    line-height: 22px;
  }
}

/*---Центер---*/
#center {
    //background: @white;
    .container{
       @w: 20px;

       &.mod{
         background: @white;
         margin-bottom: @w;
         margin-top: @w;
         padding-bottom: @w;
         padding-top: @w;
         border-radius: 5px;
       }
    }
}

/*---Меню нижней---*/
div.menu_bottom {
  background: fade(@black,40%);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 100%;
  margin: 5px 0px;
  position: relative;
  div.item a {
    color: @white;
  }
  .search_header {
    background: @white;
    position: relative;
    top: 9px;
    left: -10px;
    input.search_input{
      //position: relative;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      padding: 5px 0px 5px 5px;
      position: absolute;
      right: 27px;
      top: 4px;
      display: none;
      &:hover{
        border: 1px solid @reg1;
      }
    }
    input.button {
      height: 27px;
      position: absolute;
      right: 0px;
      top:6px;
      border:none;
    }
  }
}
/*---Подвал---*/
#footer {
  width: 100%;
  display: table-row;
  background: @black2;
  div.desktop {
    div.items {
      padding: 35px 23px;
      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -ms-flexbox;
      -ms-flex-pack: center;
      img.zti {
        display: block;
        float: left;
        width: 224px;
      }
      div.block {
        float: left;
        padding: 40px 0px 0px 42px;
        width: 440px;
        position: relative;
        .style {
          left: 40px;
          position: absolute;
          top: 0;
          a.row img {
            width: 125px;
          }
        }
        div.name {
          color: @white;
          font-size: 20px;
          font-style: italic;
          font-weight: bold;
          line-height: 25px;
          text-transform: uppercase;
        }
        div.list {
          color: @reg1;
          font-size: 16px;
          font-style: italic;
          font-weight: bold;
          margin: 12px 0px 16px
        }
      }
      div.contacts {
        float: left;
        padding: 45px 0px 0px 33px;
        div.des {
          margin: 10px 0px 32px;
          font-style: italic;
        }
      }
    }
    table.contact {
      padding: 20px 0px;
      width: 100%;
      border-bottom: 1px dotted @grey1;
      border-top: 1px dotted @grey1;
      border-collapse: unset;
      tr td {
        vertical-align: top;
      }
      div.item {
        color: @grey;
        b {
          display: block;
          margin: 5px 0px 0px;
        }
      }
      a.gray {
        color: #a1a0a0;
        font-style: italic;
        font-weight: bold;
        line-height: 22px;
        border-bottom: 1px dotted @grey1;
        &:hover {
          border: none;
          text-decoration: none;
        }
      }
      .metro {
        color: @reg;
        font-weight: bold;
        margin: 0px 5px 0px 0px;
      }
      div.m {
        color: @grey;
        font-size: 11px;
        padding: 5px 0 0;
      }
    }
    div.copyright {
      padding: 15px 0px;
      color: #d7d7d7;
      a {
        margin: 0px 0px 0px 10px;
      }
      span.mob {
        display: block;
        float: right;
        margin: 0px 10px 0px 0px;
      }
    }
  }
  div.mobile{
    background: @black;
  }
}

/* Страница верстка;
==============================*/
@import "pages.less";

/* Медия запрос;
==============================*/
@import "my.less";