/*Анимерованый бутерброд*/
/*--Базовый стиль--*/
textarea {
  resize: none;
}
.hidden_r,
.mobile {
  display: none;
}
.show_d,
.desktop {
  display: block;
}
.show_r {
  display: block !important;
}
.through {
  text-decoration: line-through;
}
:focus {
  outline: none;
}
img {
  border: 0px;
  padding: 0px;
  margin: 0px;
  vertical-align: top;
}
img.ad {
  width: 100%;
}
.clear {
  font-size: 0px;
  clear: both;
}
input,
textarea,
select {
  border: 1px solid #d5d5d5;
  color: #434343;
  font-family: Arial;
  font-size: 13px;
  line-height: 17px;
  margin: 0;
  padding: 0;
  text-align: left;
}
/*---Сылки---*/
.no_border {
  color: inherit;
  text-decoration: none !important;
  border: none !important;
}
.no_border:hover,
.no_border:focus,
.no_border:active {
  text-decoration: none;
  color: inherit;
  border: none;
}
/*-------------Компонененты-------------*/
/*Фомра 1*/
.form1__com button.button-mod {
  background: #000;
  border: none;
  color: #fff;
  padding: 10px 0px;
  width: 100%;
  box-shadow: none;
  font-size: 16px;
}
.form1__com button:hover {
  background: #1a1a1a;
  color: #fff;
}
.form1__com .form-group input.form-control {
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #CBCBCB;
  background: none;
  box-shadow: none;
  font-size: 16px;
}
.form1__com .form-group input[placeholder] {
  color: #fff;
}
.form1__com .form-group ::-webkit-input-placeholder {
  color: #fff;
}
.form1__com .form-group :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
.form1__com .form-group ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
.form1__com .form-group :-ms-input-placeholder {
  color: #fff;
}
/*Фомра 2*/
.news___com .item hr {
  margin: 15px;
  border-color: #717171;
}
.news___com .item .block {
  width: 100%;
  display: table;
  cursor: pointer;
}
.news___com .item .block::after {
  content: "\e080";
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  font-family: 'Glyphicons Halflings';
}
.news___com .item .block .name {
  font-size: 18px;
}
.news___com .item .block .date {
  color: #adadad;
}
/*----"Эффекты----*/
/* сдвиг placeholder-а вправо при фокусе*/
input.placeholder-right::-webkit-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
input.placeholder-right::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input.placeholder-right:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input.placeholder-right:-ms-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
input.placeholder-right:focus::-webkit-input-placeholder {
  text-indent: 100%;
  transition: text-indent 0.3s ease;
}
input.placeholder-right:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input.placeholder-right:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input.placeholder-right:focus:-ms-input-placeholder {
  text-indent: 100%;
  transition: text-indent 0.3s ease;
}
/* плавное изменение прозрачности  placeholder-а при фокусе */
input.placeholder::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input.placeholder::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input.placeholder:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input.placeholder:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}
input.placeholder:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input.placeholder:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input.placeholder:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
input.placeholder:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
/*Набор кнопки*/
.button_op {
  border: 1px solid #7d7d7d;
  border-radius: 3px;
  padding: 10px 0px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  min-width: auto;
  max-width: auto;
}
.button_op div {
  color: #fff;
  font-size: 14px;
}
.margin-bottom {
  margin-bottom: 5px;
}
.br-content {
  margin: 0 -15px;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 15px;
}
.br-content hr {
  margin: 5px 0 3px;
  border-color: rgba(113, 113, 113, 0.4);
}
/*Набор Иконки*/
/*---Социал---*/
.icon-vk {
  background: url("../images/desktop/icon-vk.png") no-repeat;
  height: 25px;
  width: 41px;
}
.icon-tw {
  background: url("../images/desktop/icon-tw.png") no-repeat;
  height: 25px;
  width: 40px;
}
.icon-yt {
  background: url("../images/desktop/icon-yt.png") no-repeat;
  height: 25px;
  width: 40px;
}
.icon-it {
  background: url("../images/desktop/icon-it.png") no-repeat;
  height: 25px;
  width: 40px;
}
/*Набор икон header*/
.icon-aut {
  background: url("../images/desktop/icon-aut.png") no-repeat;
  display: inline-block;
  height: 22px;
  vertical-align: top;
  width: 30px;
}
.icon-usercard {
  background: url("../images/desktop/entrance.png") no-repeat;
  display: inline-block;
  height: 22px;
  vertical-align: top;
  width: 30px;
}
.icon-reg {
  background: url("../images/desktop/icon-reg.png") no-repeat;
  display: inline-block;
  height: 20px;
  vertical-align: top;
  width: 40px;
}
.icon-right-tab {
  background: url("../images/desktop/icon-right-tab.png") no-repeat;
  height: 40px;
  width: 40px;
}
.icon-ab {
  background: url("../images/desktop/icon-ab.png") no-repeat;
  height: 40px;
}
.icon-ab a {
  background-position: 0 -40px;
}
.icon-ab b {
  background-position: 0 -80px;
  height: 50px;
}
.icon-right-ab {
  background: url("../images/desktop/icon-right-ab.png") no-repeat;
  height: 40px;
  width: 40px;
}
.icon-plus {
  background: url("../images/desktop/icon-plus.png") no-repeat;
  height: 24px;
  width: 24px;
}
.icon-right-goods {
  background: url("../images/desktop/icon-right-goods.png") no-repeat;
  height: 40px;
  width: 40px;
}
.icon-border {
  background: url("../images/desktop/border.png") no-repeat scroll center center;
  display: inline-block;
  height: 6px;
  vertical-align: middle;
  width: 20px;
}
.icon-prev {
  background: url("../images/desktop/icon-prev.png") no-repeat;
  display: inline-block;
  height: 14px;
  left: 10px;
  position: relative;
  vertical-align: sub;
  width: 8px;
}
/*Цвета фон*/
.primary-com {
  background-color: #428bca;
}
.success-com {
  background-color: #5cb85c;
}
.info-com {
  background-color: #5bc0de;
}
.warning-com {
  background-color: #f0ad4e;
}
.danger-com {
  background-color: #d9534f;
}
.default-com {
  background-color: #999;
}
