/*----Личный кабинет----
 Version 2.0.0
*/
.my {
  color: #fff;
}
.my .title {
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 0;
}
.my .client-info {
  padding: 10px 0px;
}
.my .client-info:before,
.my .client-info:after {
  content: " ";
  display: table;
}
.my .client-info:after {
  clear: both;
}
.my .client-info .photo-content {
  float: left;
  margin-right: 15px;
  text-align: center;
  position: relative;
}
.my .client-info .photo-content .update_photo {
  cursor: pointer;
  font-size: 20px;
  height: 20px;
  left: 0;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  right: 0;
  top: 54px;
  width: 25px;
  opacity: 0.8;
}
.my .client-info .photo-content .photo {
  background: #fff;
  border-radius: 100%;
  height: 65px;
  width: 65px;
  overflow: hidden;
}
.my .client-info .photo-content .photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.my .client-info .info {
  margin: 0px;
}
.my .client-info .info .i {
  margin: 0 0 3px;
  font-weight: bold;
}
.my .client-info .info .i.name {
  font-size: 16px;
}
.my .widgets {
  font-weight: bold;
  font-size: 16px;
}
.my .widgets .item {
  width: 100%;
  padding: 5px 0px;
}
.my .widgets .col-mod {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
.my .widgets .balance {
  padding: 8px 0 2px;
}
.my .widgets .balance .money {
  color: #11B342;
}
.my .widgets .balance-text {
  font-size: 11px;
  font-weight: normal;
}
.my .widgets .button_op {
  margin-left: auto;
}
.my .reservations .tab .item {
  border: 1px solid #7d7d7d;
  border-radius: 3px;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  width: auto;
  min-width: auto;
  max-width: auto;
  display: inline-block;
  margin-right: 5px;
}
.my .reservations .tab .item div {
  color: #fff;
  font-size: 14px;
}
.my .reservations .tab .item.open {
  border-bottom: 2px solid #fff;
}
.my .reservations .tab:before,
.my .reservations .tab:after {
  content: " ";
  display: table;
}
.my .reservations .tab:after {
  clear: both;
}
.my .reservations .select-date {
  margin-top: 20px;
}
.my .reservations .select-date .margin-r {
  margin-right: 8px;
}
.my .reservations .select-date .item {
  padding: 5px;
  display: inline-block;
  cursor: pointer;
}
.my .reservations .select-date .item::before {
  content: "\e114";
  width: 0px;
  height: 0px;
  font-family: 'Glyphicons Halflings';
  float: right;
  font-size: 11px;
  margin: 3px 0 0 4px;
}
.my .reservations .select-date .item span {
  font-size: 17px;
  padding: 0 5px 0 0;
  vertical-align: top;
}
.my .block-menu {
  margin-top: 20px;
  margin-bottom: 20px;
  display: table;
}
.my .block-menu .col-xs-6 {
  padding-left: 5px;
  padding-right: 5px;
  display: table;
  margin-bottom: 10px;
}
.my .block-menu .name {
  border: 1px solid #fff;
  display: table-cell;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  cursor: pointer;
}
.my .block-menu .name:hover {
  background: rgba(203, 203, 203, 0.2);
}
