/*Анимерованый бутерброд*/
/* Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .main .desktop .schedule-tabs div.name {
    font-size: 12px;
  }
  .main .desktop .schedule-tabs div.tab-captions {
    width: 147px;
  }
  .main .desktop .schedule-tabs div.tab-captions div.item a {
    white-space: normal;
  }
}
/* Medium devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .bg {
    background-color: #000;
    background-image: url("../images/m/bg_blur.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  .bg .bg_blur {
    background-image: url("../images/m/bg.png");
  }
  #center {
    margin-top: 50px;
    background: none;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  /*Анимерованый бутерброд*/
  .menu-qml {
    position: relative;
    overflow: hidden;
    width: 32px;
    height: 25px;
    font-size: 0px;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    top: 3px;
  }
  .menu-qml:focus {
    outline: none;
  }
  .menu-qml span {
    display: block;
    position: absolute;
    top: 10px;
    left: 2px;
    right: 2px;
    height: 3px;
    background: #fff;
    border-radius: 1px;
  }
  .menu-qml span::before,
  .menu-qml span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    content: "";
    border-radius: 1px;
  }
  .menu-qml span::before {
    top: -8px;
  }
  .menu-qml span::after {
    bottom: -8px;
  }
  .menu-qml-icon span {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }
  .menu-qml-icon span::before {
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transition: -webkit-transform 0.3s, width 0.3s, top 0.3s;
    transition: transform 0.3s, width 0.3s, top 0.3s;
  }
  .menu-qml-icon span::after {
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.3s, width 0.3s, bottom 0.3s;
    transition: transform 0.3s, width 0.3s, bottom 0.3s;
  }
  .menu-qml-icon.active span {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .menu-qml-icon.active span::before,
  .menu-qml-icon.active span::after {
    width: 50%;
  }
  .menu-qml-icon.active span::before {
    top: 0;
    -webkit-transform: translateX(13px) translateY(0px) rotate(45deg);
    -ms-transform: translateX(13px) translateY(0px) rotate(45deg);
    transform: translateX(13px) translateY(0px) rotate(45deg);
  }
  .menu-qml-icon.active span::after {
    bottom: 0;
    -webkit-transform: translateX(13px) translateY(0px) rotate(-45deg);
    -ms-transform: translateX(13px) translateY(0px) rotate(-45deg);
    transform: translateX(13px) translateY(0px) rotate(-45deg);
  }
  #header {
    height: 50px;
    background: #000;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 300;
    min-width: 320px;
    max-width: 1042px;
    margin: 0 auto;
    /*--Сетка xs-4 мод padding 5px --*/
  }
  #header .container-fluid {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  #header .col-mod {
    position: relative;
    float: left;
    width: 33.33333333%;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
  }
  #header div.logo {
    text-align: center;
  }
  #header div.logo img {
    width: 155px;
  }
  #header div.login-header {
    height: 20px;
    text-align: right;
    margin: 0 0 0 auto;
    width: 40px;
  }
  #header div.login-header span {
    color: #fff;
    font-size: 25px;
  }
  #header:before,
  #header:after {
    content: " ";
    display: table;
  }
  #header:after {
    clear: both;
  }
  #menu_left {
    background: rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0px;
    z-index: 200;
    cursor: auto;
    display: none;
  }
  #menu_left .menu-content {
    overflow: hidden;
    height: 100%;
    min-width: 320px;
    max-width: 1042px;
    margin: 0 auto;
  }
  #menu_left .menu-content .menu-left-rel {
    background: #000;
    color: #fff;
    margin-top: 50px;
    width: 260px;
    position: relative;
    left: -270px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }
  #menu_left .menu-content .menu-left-rel .panel-footer-menu {
    border-top: 1px solid #232323;
    padding: 10px 12px;
  }
  #menu_left .menu-content .menu-left-rel .panel-footer-menu .phone {
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 5px 0;
    font-weight: bold;
  }
  #menu_left .menu-content .menu-left-rel .panel-footer-menu .phone span {
    color: #E25D57;
  }
  #menu_left .menu-content .menu-left-rel .panel-footer-menu .time {
    font-size: 11px;
    color: red;
  }
  #menu_left .menu-content .menu-left-rel .items {
    margin: 0px;
  }
  #menu_left .menu-content .menu-left-rel .items .item {
    display: block;
    font-size: 16px;
    padding: 10px 12px;
    color: #fff;
    border-top: 1px solid #232323 !important;
    position: relative;
  }
  #menu_left .menu-content .menu-left-rel .items .item:hover {
    background: #C81A18;
  }
  #menu_left .menu-content .menu-left-rel .items .item:after {
    content: "\e113";
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    right: 10px;
    transform: rotate(90deg);
    font-family: 'Glyphicons Halflings';
    top: 11px;
  }
  #footer {
    width: 100%;
    height: 50px;
    background: #000;
  }
  #footer .copyright {
    color: #fff;
    display: block;
    font-size: 11px;
    padding: 30px 0 0;
  }
  .main .form1__com {
    width: 100%;
  }
}
/* Small devices (tablets, 768px and up) */
/* Small devices (mobile, 520px and up) */
@media only screen and (max-width: 520px) {
  #header .container-fluid.mobile {
    display: table;
    width: 100%;
  }
  #header .container-fluid.mobile .col-mod {
    display: table-cell;
    float: none;
    width: auto;
    vertical-align: top;
  }
  .trainer .photo {
    max-width: none;
    padding: 5px 0;
  }
  .trainer h1.title {
    display: block;
  }
  .trainer .photo,
  .trainer .block {
    width: 100%;
  }
  .trainer .block h1.title {
    display: none;
  }
}
