/*Анимерованый бутерброд*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
html,
body,
.wrapper {
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #000;
  background-color: #161616 ;
}
.bg {
  background: url('../images/m/man.jpg') no-repeat fixed 50% 0px transparent;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  min-width: 320px;
  max-width: 740px;
  margin: 0 auto;
  z-index: -1;
}
._menu_o {
  overflow: hidden;
}
.wrapper {
  display: table;
  width: 100%;
  min-width: 320px;
  max-width: 1042px;
  margin: 0 auto;
}
/*---Шапка---*/
#header {
  width: 100%;
  height: 130px;
  background: rgba(0, 0, 0, 0.4);
}
#header .container-fluid.desktop {
  color: #fff;
}
#header .container-fluid.desktop .logo {
  margin: 0 auto;
  width: 240px;
}
#header .container-fluid.desktop .border-right::after {
  border-right: 1px dotted #747474;
  content: "";
  height: 80px;
  position: absolute;
  right: -22px;
  top: 0;
}
#header .container-fluid.desktop .social {
  margin: 12px 0 0;
  text-align: center;
}
#header .container-fluid.desktop .social a {
  display: inline-block;
}
#header .container-fluid.desktop .client {
  position: relative;
  margin: 24px 30px;
  padding-top: 7px;
}
#header .container-fluid.desktop .client .badge {
  position: absolute;
  font-size: 11px;
  padding: 3px 5px;
  top: 0;
  left: -2px;
}
#header .container-fluid.desktop .client .balans {
  padding: 3px 0px 3px 30px;
}
#header .container-fluid.desktop .client a {
  padding-left: 30px;
}
#header .container-fluid.desktop .client span {
  text-transform: uppercase;
  font-size: 12px;
  white-space: pre;
  vertical-align: top;
}
#header .container-fluid.desktop .client .red {
  margin-left: -3px;
  padding-left: 34px;
}
#header .container-fluid.desktop .client .aut {
  height: 48px;
}
#header .container-fluid.desktop .contacts {
  margin: 6px 0px;
}
#header .container-fluid.desktop .logo-service {
  margin: 6px 0px;
  padding-top: 7px;
  text-align: right;
}
#header:before,
#header:after {
  content: " ";
  display: table;
}
#header:after {
  clear: both;
}
#header:before,
#header:after {
  content: " ";
  display: table;
}
#header:after {
  clear: both;
}
#menu_left .desktop {
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  /*border-radius: 5px 5px 0px 0px;*/
  margin-top: 10px;
}
#menu_left .desktop div.item,
div.menu_bottom div.item {
  padding: 20px 0px 20px 23px;
  float: left;
  position: relative;
}
#menu_left .desktop div.item a,
div.menu_bottom div.item a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
#menu_left .desktop div.item a:hover,
div.menu_bottom div.item a:hover,
#menu_left .desktop div.item a.open,
div.menu_bottom div.item a.open {
  color: #d40d05;
}
#header .contacts div.phone,
#footer .contacts div.phone {
  color: #fff;
  font-size: 31px;
  font-weight: bold;
  font-style: italic;
  white-space: pre;
  line-height: normal;
}
#header .contacts span.reg,
#footer .contacts span.reg {
  color: #E25D57;
  text-transform: none;
}
#header .contacts span.time,
#footer .contacts span.time {
  font-size: 10px;
  margin: 0px 0px 0px 2px;
  vertical-align: super;
}
#header .contacts div.des,
#footer .contacts div.des {
  margin: 9px 0px 0px 0px;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  white-space: nowrap;
  width: 230px;
}
#header .contacts table.contact span.grey,
#footer .contacts table.contact span.grey {
  border-bottom: 1px dotted #CBCBCB;
  color: #a1a0a0;
  font-style: italic;
  font-weight: bold;
  line-height: 22px;
}
/*---Центер---*/
#center .container.mod {
  background: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 5px;
}
/*---Меню нижней---*/
div.menu_bottom {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 100%;
  margin: 5px 0px;
  position: relative;
}
div.menu_bottom div.item a {
  color: #fff;
}
div.menu_bottom .search_header {
  background: #fff;
  position: relative;
  top: 9px;
  left: -10px;
}
div.menu_bottom .search_header input.search_input {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 5px 0px 5px 5px;
  position: absolute;
  right: 27px;
  top: 4px;
  display: none;
}
div.menu_bottom .search_header input.search_input:hover {
  border: 1px solid #E25D57;
}
div.menu_bottom .search_header input.button {
  height: 27px;
  position: absolute;
  right: 0px;
  top: 6px;
  border: none;
}
/*---Подвал---*/
#footer {
  width: 100%;
  display: table-row;
  background: #161616;
}
#footer div.desktop div.items {
  padding: 35px 23px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -ms-flexbox;
  -ms-flex-pack: center;
}
#footer div.desktop div.items img.zti {
  display: block;
  float: left;
  width: 224px;
}
#footer div.desktop div.items div.block {
  float: left;
  padding: 40px 0px 0px 42px;
  width: 440px;
  position: relative;
}
#footer div.desktop div.items div.block .style {
  left: 40px;
  position: absolute;
  top: 0;
}
#footer div.desktop div.items div.block .style a.row img {
  width: 125px;
}
#footer div.desktop div.items div.block div.name {
  color: #fff;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  line-height: 25px;
  text-transform: uppercase;
}
#footer div.desktop div.items div.block div.list {
  color: #E25D57;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  margin: 12px 0px 16px;
}
#footer div.desktop div.items div.contacts {
  float: left;
  padding: 45px 0px 0px 33px;
}
#footer div.desktop div.items div.contacts div.des {
  margin: 10px 0px 32px;
  font-style: italic;
}
#footer div.desktop table.contact {
  padding: 20px 0px;
  width: 100%;
  border-bottom: 1px dotted #747474;
  border-top: 1px dotted #747474;
  border-collapse: unset;
}
#footer div.desktop table.contact tr td {
  vertical-align: top;
}
#footer div.desktop table.contact div.item {
  color: #CBCBCB;
}
#footer div.desktop table.contact div.item b {
  display: block;
  margin: 5px 0px 0px;
}
#footer div.desktop table.contact a.gray {
  color: #a1a0a0;
  font-style: italic;
  font-weight: bold;
  line-height: 22px;
  border-bottom: 1px dotted #747474;
}
#footer div.desktop table.contact a.gray:hover {
  border: none;
  text-decoration: none;
}
#footer div.desktop table.contact .metro {
  color: #d40d05;
  font-weight: bold;
  margin: 0px 5px 0px 0px;
}
#footer div.desktop table.contact div.m {
  color: #CBCBCB;
  font-size: 11px;
  padding: 5px 0 0;
}
#footer div.desktop div.copyright {
  padding: 15px 0px;
  color: #d7d7d7;
}
#footer div.desktop div.copyright a {
  margin: 0px 0px 0px 10px;
}
#footer div.desktop div.copyright span.mob {
  display: block;
  float: right;
  margin: 0px 10px 0px 0px;
}
#footer div.mobile {
  background: #000;
}
/*Главное страница*/
.main {
  /*---Мобилка----*/
}
.main .desktop {
  /*Слайдер*/
  /*---Расписания гл---*/
  /*Контент распиание */
  /*Новости*/
  /*Фотототчет*/
  /* Апсел Товар */
}
.main .desktop h3.title {
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}
.main .desktop div.main-slides div.item img {
  display: block;
  width: 100%;
  height: auto;
}
.main .desktop div.main-slides .owl-theme .owl-controls .owl-page span {
  height: 13px;
  width: 13px;
}
.main .desktop div.main-slides div.owl-pagination {
  position: relative;
  text-align: center;
  top: 8px;
}
.main .desktop div.block-container {
  float: left;
  margin-top: 18px;
  width: 50%;
}
.main .desktop .schedule-tabs {
  margin: 0 0 0 10px;
}
.main .desktop .schedule-tabs div.tab-container {
  height: 611px;
}
.main .desktop .schedule-tabs div.name {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
  padding: 18px 5px;
  text-transform: uppercase;
}
.main .desktop .schedule-tabs div.tab-captions {
  float: left;
  background: #EDEDED;
  padding: 0px 5px;
  width: 178px;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
}
.main .desktop .schedule-tabs div.tab-captions div.item {
  padding: 13px 10px 7px;
  position: relative;
}
.main .desktop .schedule-tabs div.tab-captions div.item.open {
  background: #fff;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
.main .desktop .schedule-tabs div.tab-captions div.item.open div.icon-sh {
  background: url("../images/desktop/sh.png") no-repeat;
  height: 25px;
  position: absolute;
  right: -11px;
  top: 15px;
  width: 12px;
}
.main .desktop .schedule-tabs div.tab-captions div.item a {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  white-space: pre;
}
.main .desktop .schedule-tabs div.tab-captions div.item div {
  margin: 2px 0px 0px 0px;
}
.main .desktop .schedule-tabs div.tab-captions div.item div span.m {
  color: #d40d05;
  font-weight: bold;
  margin: 0px 2px 0px 0px;
}
.main .desktop div.tab-container div.tab-contents {
  float: left;
  width: 68%;
  background: #252525;
  height: 100%;
  border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
}
.main .desktop div.tab-container div.tab-contents div.name {
  color: #fff;
  padding: 12px 40px 10px 0px;
  text-align: right;
}
.main .desktop div.tab-container div.tab-contents div.item {
  padding: 0px 0px 0px 15px;
  position: relative;
  display: none;
}
.main .desktop div.tab-container div.tab-contents div.item.open {
  display: block;
}
.main .desktop div.tab-container div.tab-contents div.item div.i {
  position: relative;
  clear: both;
  margin: 0px 0px 25px;
}
.main .desktop div.tab-container div.tab-contents div.item div.i div.icon-right-tab {
  position: absolute;
  right: 12px;
  top: 25px;
  cursor: pointer;
}
.main .desktop div.tab-container div.tab-contents div.item div.i div.trainer {
  float: left;
  position: relative;
  width: 100px;
  z-index: 1;
}
.main .desktop div.tab-container div.tab-contents div.item div.i div.trainer img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  object-fit: cover;
}
.main .desktop div.tab-container div.tab-contents div.item div.i .row-i {
  background: #2e2d2d;
  left: 22px;
  padding: 10px 0px;
  position: relative;
  top: 8px;
  width: 94%;
}
.main .desktop div.tab-container div.tab-contents div.item div.i .row-i div.time {
  color: #E25D57;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}
.main .desktop div.tab-container div.tab-contents div.item div.i .row-i div.area a.border-white {
  position: relative;
  top: 3px;
  vertical-align: sub;
  font-style: italic;
}
.main .desktop div.tab-container div.tab-contents div.item div.i .row-i div.area a.area {
  font-size: 14px;
  font-weight: bold;
  height: 25px;
  margin: 3px 0px 0px;
  width: 283px;
  display: block;
  line-height: 14px;
}
@media only screen and (max-width: 1200px) {
  .main .desktop div.tab-container div.tab-contents div.item div.i .row-i {
    left: 18px;
  }
}
.main .desktop div.tab-container div.tab-contents div.item p {
  color: #fff;
}
.main .desktop div.main-news {
  margin: 0px;
  background: #ededed;
  padding: 10px 0px 0px 16px;
  border-radius: 5px 5px 0 0;
  max-height: 247px;
}
.main .desktop div.main-news div.row-container {
  padding: 20px 0px 18px 8px;
}
.main .desktop div.main-news div.row-container div.title {
  color: #C81A18;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.main .desktop div.main-news div.row-container div.images {
  float: left;
  width: 100px;
  height: 120px;
}
.main .desktop div.main-news div.row-container div.images img {
  height: 85px;
  width: 85px;
  border-radius: 100%;
  object-fit: cover;
}
.main .desktop div.main-news div.row-container span.date {
  color: #4b4b4b;
  font-size: 13px;
  padding: 0px 5px 0px 0px;
}
.main .desktop div.main-news div.row-container div.description {
  color: #1e1e1e;
  font-size: 14px;
  line-height: 17px;
  margin: 0px 0px 0px auto;
  width: 100%;
}
.main .desktop div.main-news div.row-container div.description a.icon-plus {
  color: #C81A18;
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin: 15px 0 15px 98px;
  padding: 4px 0px 0px 30px;
  text-transform: uppercase;
  width: 50%;
}
.main .desktop div.main-photo {
  background: #ededed;
  margin: -25px 0px 10px;
  padding: 0px 0px 15px;
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
}
.main .desktop div.main-photo h3.title {
  padding: 20px 0px 10px 15px;
}
.main .desktop div.main-photo div.photo {
  position: relative;
  margin: 0px 0px 2px 0px;
}
.main .desktop div.main-photo div.photo div.title {
  bottom: 14px;
  color: #fff;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  left: 10px;
  line-height: 20px;
  position: absolute;
  text-transform: uppercase;
  width: 200px;
}
.main .desktop div.main-photo div.image {
  height: 354px;
  overflow: hidden;
  width: 100%;
}
.main .desktop div.main-photo img {
  min-height: 100%;
  width: 100%;
}
.main .desktop div.main-goods {
  margin: 3px 0 0;
}
.main .desktop div.main-goods div.row-container {
  background: #ffffff;
  border: 3px solid #fc8c0e;
  border-radius: 5px;
  padding: 5px 0 2px;
  position: relative;
}
.main .desktop div.main-goods div.row-container img {
  padding: 5px 0 0 10px;
  vertical-align: middle;
  width: 188px;
}
.main .desktop div.main-goods div.row-container .icon-right-goods {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}
.main .desktop div.main-goods div.row-container h3.title {
  color: #187ca9;
  display: inline;
  font-size: 16px;
  margin: 0;
  position: relative;
  top: 3px;
}
.main .desktop div.main-goods div.row-container a {
  position: absolute;
  right: 10px;
  top: 7px;
  color: #ffffff;
  font-style: italic;
  font-weight: bold;
}
.main .desktop div.main-goods div.item {
  float: left;
  padding: 15px 25px;
  width: 25%;
}
.main .desktop div.main-goods div.item div.images {
  height: 195px;
  overflow: hidden;
  width: 100%;
}
.main .desktop div.main-goods div.item div.images img {
  /*
            transform: scale(1.2) translate(4px, 25px);
            -moz-transform: scale(1.2) translate(4px, 25px);
            -webkit-transform: scale(1.2) translate(4px, 25px);
            -o-transform: scale(1.2) translate(4px, 25px);
            -ms-transform: scale(1.2) translate(4px, 25px);*/
}
.main .desktop div.main-goods div.item div.title {
  height: 55px;
  overflow: hidden;
  padding: 10px 0px;
  text-align: center;
}
.main .desktop div.main-goods div.item div.title a {
  color: #000000;
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
}
.main .desktop div.main-goods div.item div.price,
.main .desktop div.main-goods div.item div.price-qw {
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
.main .desktop div.main-goods div.item div.price-qw {
  color: #737373;
  display: inline;
  margin: 0px 15px 0px 0px;
  text-decoration: line-through;
}
.main .desktop div.main-goods div.item .button {
  padding: 20px 0px 0px;
}
.main .desktop div.main-goods div.item .button a {
  width: 100%;
}
.main .mobile {
  color: #fff;
}
.main .mobile .title {
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 0;
}
.main .mobile .form1__com,
.main .mobile .news {
  margin: 0px -15px;
  padding: 10px 15px;
  background: rgba(203, 203, 203, 0.2);
}
.main .mobile .form1__com {
  width: 320px;
}
.main .mobile .news {
  background: rgba(0, 0, 0, 0.4);
}
.areas div.text {
  padding: 30px 0 20px;
  color: #747474;
}
.area .text {
  padding: 10px 0;
  font-size: 13px;
  line-height: 20px;
}
.trainer .photo {
  max-width: 180px;
}
.trainer .block .btn {
  margin: 0px;
}
.trainer .text {
  padding: 10px 0;
  font-size: 13px;
  line-height: 20px;
}
.club .club-nav {
  margin: 0px;
  position: relative;
  padding: 10px 0;
  box-shadow: 0px 6px 8px -8px;
}
.club .club-nav .btn,
.club .club-nav .card {
  position: absolute;
  right: 0px;
  top: 8px;
}
.club .club-nav .card {
  right: 260px;
  top: -30px;
}
.club .services {
  padding: 5px;
  margin: 25px 0 5px;
}
.club .schedules {
  margin-bottom: 30px;
  margin-top: 15px;
}
.club .schedules .schedules-crossfit {
  margin-top: 35px;
}
.club .filters .group_tile {
  color: #747474;
  font-weight: bold;
}
.club .photo-gallery {
  margin-top: 10px;
  margin-bottom: 10px;
}
.club .footer-clubs {
  padding: 25px 0;
}
.club .footer-clubs .description {
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
}
.club .footer-clubs a {
  display: block;
  margin: 20px 0 0;
  width: 215px;
}
.registration {
  margin-top: 15px;
}
.registration div.title {
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0;
}
.registration .text {
  width: 90%;
}
.registration .col-com {
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
@media (min-width: 992px) {
  .registration .col-com {
    float: left;
    width: 50%;
  }
}
.registration .form-normal .promo {
  width: 124px;
}
.registration .form-normal .form-group.input {
  width: 285px;
}
.registration .form-normal .form-inline .phone {
  float: left;
  margin-right: 5px;
  width: 167px;
}
.registration .form-normal .form-inline .phone:before,
.registration .form-normal .form-inline .phone:after {
  content: " ";
  display: table;
}
.registration .form-normal .form-inline .phone:after {
  clear: both;
}
.registration .form-normal .form-inline .phone:before,
.registration .form-normal .form-inline .phone:after {
  content: " ";
  display: table;
}
.registration .form-normal .form-inline .phone:after {
  clear: both;
}
.registration .form-registration {
  margin: 0px;
  position: relative;
}
.registration .form-registration .disabled-bg {
  position: absolute;
  bottom: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  width: 100%;
  z-index: 100;
}
.registration .pay {
  margin-top: 15px;
  background: #FAF2D8;
  padding: 0 15px 15px;
}
.registration .pay .block {
  margin: 0;
}
.registration .pay .block .text-info {
  margin: 0;
  color: #747474;
}
.registration .pay .block .result {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding: 5px 0;
}
.registration .pay .block .result .discount {
  color: #747474;
  font-weight: normal;
  text-decoration: line-through;
}
.registration .pay .block .checkbox {
  margin: 0px 0px 10px;
}
.registration .pay .block .checkbox label {
  display: block;
  line-height: 23px;
}
.registration .pay .block .visa {
  margin: 8px 0 0;
}
/*----Личный кабинет----
 Version 2.0.0
*/
.my div {
  color: #fff;
  font-size: inherit;
}
.my .title {
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 0;
}
.my .client-info {
  padding: 20px 0px;
}
.my .client-info:before,
.my .client-info:after {
  content: " ";
  display: table;
}
.my .client-info:after {
  clear: both;
}
.my .client-info:before,
.my .client-info:after {
  content: " ";
  display: table;
}
.my .client-info:after {
  clear: both;
}
.my .client-info .photo-content {
  float: left;
  margin-right: 15px;
  text-align: center;
  position: relative;
}
.my .client-info .photo-content .update_photo {
  cursor: pointer;
  font-size: 20px;
  height: 20px;
  left: 0;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  right: 0;
  top: 54px;
  width: 25px;
  opacity: 0.8;
}
.my .client-info .photo-content .photo {
  background: #fff;
  border-radius: 100%;
  height: 65px;
  width: 65px;
  overflow: hidden;
}
.my .client-info .photo-content .photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.my .client-info .info {
  margin: 0px;
}
.my .client-info .info .i {
  margin: 0 0 3px;
  font-weight: bold;
}
.my .client-info .info .i.name {
  font-size: 16px;
}
.my .widgets {
  font-weight: bold;
  font-size: 16px;
}
.my .widgets .item {
  width: 100%;
  padding: 5px 0px;
}
.my .widgets .col-mod {
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
@media (min-width: 992px) {
  .my .widgets .col-mod {
    float: left;
    width: 25%;
  }
}
.my .widgets .balance {
  padding: 8px 0 2px;
}
.my .widgets .balance .money {
  color: #11B342;
}
.my .widgets .balance-text {
  font-size: 11px;
  font-weight: normal;
}
.my .widgets .button_op {
  margin-left: auto;
}
.my .reservations .tab .item {
  border: 1px solid #7d7d7d;
  border-radius: 3px;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  width: auto;
  min-width: auto;
  max-width: auto;
  display: inline-block;
  margin-right: 5px;
}
.my .reservations .tab .item div {
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.my .reservations .tab .item.open {
  border-bottom: 2px solid #fff;
}
.my .reservations .tab:before,
.my .reservations .tab:after {
  content: " ";
  display: table;
}
.my .reservations .tab:after {
  clear: both;
}
.my .reservations .tab:before,
.my .reservations .tab:after {
  content: " ";
  display: table;
}
.my .reservations .tab:after {
  clear: both;
}
.my .reservations .select-date {
  margin-top: 20px;
}
.my .reservations .select-date .margin-r {
  margin-right: 8px;
}
.my .reservations .select-date .item {
  padding: 5px;
  display: inline-block;
  cursor: pointer;
}
.my .reservations .select-date .item::before {
  content: "\e114";
  width: 0px;
  height: 0px;
  font-family: 'Glyphicons Halflings';
  float: right;
  font-size: 11px;
  margin: 3px 0 0 4px;
}
.my .reservations .select-date .item span {
  font-size: 17px;
  padding: 0 5px 0 0;
  vertical-align: top;
}
.my .block-menu {
  margin-top: 20px;
  margin-bottom: 20px;
  display: table;
  width: 100%;
}
.my .block-menu .col-xs-6 {
  padding-left: 5px;
  padding-right: 5px;
  display: table;
  margin-bottom: 10px;
}
.my .block-menu .name {
  border: 1px solid #fff;
  display: table-cell;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  cursor: pointer;
}
.my .block-menu .name:hover {
  background: rgba(203, 203, 203, 0.2);
}
