/*Анимерованый бутерброд*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
html,
body,
.wrapper {
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #000;
  background-color: #333333;
  background: url('../images/desktop/bg.jpg') no-repeat fixed 50% 0px transparent;
}
.bg {
  /*
  background-color: @base_color;
  background-image: url("@{images_d}bg.jpg");
  background-repeat: no-repeat;*/
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  min-width: 320px;
  max-width: 740px;
  margin: 0 auto;
  z-index: -1;
}
._menu_o {
  overflow: hidden;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a:focus {
  outline: none;
}
a.white-normal {
  color: #fff;
  text-decoration: none;
}
a.white-normal:hover {
  color: #E25D57;
}
a.black-normal {
  color: #000000;
  text-decoration: none;
}
a.black-normal:hover {
  border-bottom: #000000 1px solid;
}
a.red-normal {
  color: #d40d05;
  text-decoration: none;
}
a.red-normal:hover {
  border-bottom: #d40d05 1px solid;
}
a.red {
  color: #E25D57;
  border-bottom: #E25D57 1px dotted;
  text-decoration: none;
}
a.red:hover {
  border: medium none;
}
.wrapper {
  display: table;
  width: 100%;
  min-width: 320px;
  max-width: 1042px;
  margin: 0 auto;
}
/*---Шапка---*/
#header {
  width: 100%;
  height: 130px;
  background: #161616;
}
#header .container-fluid.desktop {
  color: #fff;
}
#header .container-fluid.desktop .border-right::after {
  border-right: 1px dotted #747474;
  content: "";
  height: 80px;
  position: absolute;
  right: -22px;
  top: 0;
}
#header .container-fluid.desktop .social {
  margin: 12px 20px 0 0;
  text-align: right;
}
#header .container-fluid.desktop .social a {
  display: inline-block;
}
#header .container-fluid.desktop .client {
  position: relative;
  margin: 24px 30px;
  padding-top: 7px;
}
#header .container-fluid.desktop .client .badge {
  position: absolute;
  font-size: 11px;
  padding: 3px 5px;
  top: 0;
  left: -2px;
}
#header .container-fluid.desktop .client .balans {
  padding: 3px 0px 3px 30px;
}
#header .container-fluid.desktop .client a {
  padding-left: 30px;
}
#header .container-fluid.desktop .client span {
  text-transform: uppercase;
  font-size: 12px;
  white-space: pre;
  vertical-align: top;
}
#header .container-fluid.desktop .client .red {
  margin-left: -3px;
  padding-left: 34px;
}
#header .container-fluid.desktop .client .aut {
  height: 48px;
}
#header .container-fluid.desktop .contacts {
  margin: 6px 0px;
}
#header .container-fluid.desktop .logo-service {
  margin: 6px 0px;
  padding-top: 7px;
  text-align: right;
}
#header:before,
#header:after {
  content: " ";
  display: table;
}
#header:after {
  clear: both;
}
#header:before,
#header:after {
  content: " ";
  display: table;
}
#header:after {
  clear: both;
}
#menu_left .desktop {
  height: 100%;
  background: #EBEBEB;
  border-radius: 5px 5px 0px 0px;
}
#menu_left .desktop div.item,
div.menu_bottom div.item {
  padding: 20px 0px 20px 23px;
  float: left;
  position: relative;
}
#menu_left .desktop div.item a,
div.menu_bottom div.item a {
  color: #0C0C0C;
  font-weight: bold;
  text-transform: uppercase;
}
#menu_left .desktop div.item a:hover,
div.menu_bottom div.item a:hover,
#menu_left .desktop div.item a.open,
div.menu_bottom div.item a.open {
  color: #d40d05;
}
#header .contacts div.phone,
#footer .contacts div.phone {
  color: #fff;
  font-size: 31px;
  font-weight: bold;
  font-style: italic;
}
#header .contacts span.reg,
#footer .contacts span.reg {
  color: #E25D57;
  text-transform: none;
}
#header .contacts span.time,
#footer .contacts span.time {
  font-size: 10px;
  margin: 0px 0px 0px 2px;
  vertical-align: super;
}
#header .contacts div.des,
#footer .contacts div.des {
  margin: 9px 0px 0px 0px;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  white-space: nowrap;
}
#header .contacts table.contact span.grey,
#footer .contacts table.contact span.grey {
  border-bottom: 1px dotted #CBCBCB;
  color: #a1a0a0;
  font-style: italic;
  font-weight: bold;
  line-height: 22px;
}
/*---Центер---*/
#center {
  background: #fff;
}
/*---Меню нижней---*/
div.menu_bottom {
  background: #252525;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 100%;
  margin: 5px 0px;
  position: relative;
}
div.menu_bottom div.item a {
  color: #fff;
}
div.menu_bottom .search_header {
  background: #fff;
  position: relative;
  top: 9px;
  left: -10px;
}
div.menu_bottom .search_header input.search_input {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 5px 0px 5px 5px;
  position: absolute;
  right: 27px;
  top: 4px;
  display: none;
}
div.menu_bottom .search_header input.search_input:hover {
  border: 1px solid #E25D57;
}
div.menu_bottom .search_header input.button {
  height: 27px;
  position: absolute;
  right: 0px;
  top: 6px;
  border: none;
}
/*---Подвал---*/
#footer {
  width: 100%;
  display: table-row;
}
#footer div.desktop div.items {
  padding: 35px 23px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -ms-flexbox;
  -ms-flex-pack: center;
}
#footer div.desktop div.items img.zti {
  display: block;
  float: left;
  width: 224px;
}
#footer div.desktop div.items div.block {
  float: left;
  padding: 40px 0px 0px 42px;
  width: 440px;
  position: relative;
}
#footer div.desktop div.items div.block .style {
  left: 40px;
  position: absolute;
  top: 0;
}
#footer div.desktop div.items div.block .style a.row img {
  width: 125px;
}
#footer div.desktop div.items div.block div.name {
  color: #fff;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  line-height: 25px;
  text-transform: uppercase;
}
#footer div.desktop div.items div.block div.list {
  color: #E25D57;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  margin: 12px 0px 16px;
}
#footer div.desktop div.items div.contacts {
  float: left;
  padding: 45px 0px 0px 33px;
}
#footer div.desktop div.items div.contacts div.des {
  margin: 10px 0px 32px;
  font-style: italic;
}
#footer div.desktop table.contact {
  padding: 20px 0px;
  width: 100%;
  border-bottom: 1px dotted #747474;
  border-top: 1px dotted #747474;
  border-collapse: unset;
}
#footer div.desktop table.contact tr td {
  vertical-align: top;
}
#footer div.desktop table.contact div.item {
  color: #CBCBCB;
}
#footer div.desktop table.contact div.item b {
  display: block;
  margin: 5px 0px 0px;
}
#footer div.desktop table.contact a.gray {
  color: #a1a0a0;
  font-style: italic;
  font-weight: bold;
  line-height: 22px;
  border-bottom: 1px dotted #747474;
}
#footer div.desktop table.contact a.gray:hover {
  border: none;
  text-decoration: none;
}
#footer div.desktop table.contact .metro {
  color: #d40d05;
  font-weight: bold;
  margin: 0px 5px 0px 0px;
}
#footer div.desktop table.contact div.m {
  color: #CBCBCB;
  font-size: 11px;
  padding: 5px 0 0;
}
#footer div.desktop div.copyright {
  padding: 15px 0px;
  color: #d7d7d7;
}
#footer div.desktop div.copyright a {
  margin: 0px 0px 0px 10px;
}
#footer div.desktop div.copyright span.mob {
  display: block;
  float: right;
  margin: 0px 10px 0px 0px;
}
#footer div.mobile {
  background: #000;
}
/*Главное страница*/
.main {
  color: #fff;
}
.main .title {
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 0;
}
.main .form1__com,
.main .news {
  margin: 0px -15px;
  padding: 10px 15px;
  background: rgba(203, 203, 203, 0.2);
}
.main .news {
  background: rgba(0, 0, 0, 0.4);
}
/*----Личный кабинет----
 Version 2.0.0
*/
.my {
  color: #fff;
}
.my .title {
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 0;
}
.my .client-info {
  padding: 10px 0px;
}
.my .client-info:before,
.my .client-info:after {
  content: " ";
  display: table;
}
.my .client-info:after {
  clear: both;
}
.my .client-info:before,
.my .client-info:after {
  content: " ";
  display: table;
}
.my .client-info:after {
  clear: both;
}
.my .client-info .photo-content {
  float: left;
  margin-right: 15px;
  text-align: center;
  position: relative;
}
.my .client-info .photo-content .update_photo {
  cursor: pointer;
  font-size: 20px;
  height: 20px;
  left: 0;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  right: 0;
  top: 54px;
  width: 25px;
  opacity: 0.8;
}
.my .client-info .photo-content .photo {
  background: #fff;
  border-radius: 100%;
  height: 65px;
  width: 65px;
  overflow: hidden;
}
.my .client-info .photo-content .photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.my .client-info .info {
  margin: 0px;
}
.my .client-info .info .i {
  margin: 0 0 3px;
  font-weight: bold;
}
.my .client-info .info .i.name {
  font-size: 16px;
}
.my .widgets {
  font-weight: bold;
  font-size: 16px;
}
.my .widgets .item {
  width: 100%;
  padding: 5px 0px;
}
.my .widgets .col-mod {
  position: relative;
  float: left;
  width: 50%;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
.my .widgets .balance {
  padding: 8px 0 2px;
}
.my .widgets .balance .money {
  color: #11B342;
}
.my .widgets .balance-text {
  font-size: 11px;
  font-weight: normal;
}
.my .widgets .button_op {
  margin-left: auto;
}
.my .reservations .tab .item {
  border: 1px solid #7d7d7d;
  border-radius: 3px;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  width: auto;
  min-width: auto;
  max-width: auto;
  display: inline-block;
  margin-right: 5px;
}
.my .reservations .tab .item div {
  color: #fff;
  font-size: 14px;
}
.my .reservations .tab .item.open {
  border-bottom: 2px solid #fff;
}
.my .reservations .tab:before,
.my .reservations .tab:after {
  content: " ";
  display: table;
}
.my .reservations .tab:after {
  clear: both;
}
.my .reservations .tab:before,
.my .reservations .tab:after {
  content: " ";
  display: table;
}
.my .reservations .tab:after {
  clear: both;
}
.my .reservations .select-date {
  margin-top: 20px;
}
.my .reservations .select-date .margin-r {
  margin-right: 8px;
}
.my .reservations .select-date .item {
  padding: 5px;
  display: inline-block;
  cursor: pointer;
}
.my .reservations .select-date .item::before {
  content: "\e114";
  width: 0px;
  height: 0px;
  font-family: 'Glyphicons Halflings';
  float: right;
  font-size: 11px;
  margin: 3px 0 0 4px;
}
.my .reservations .select-date .item span {
  font-size: 17px;
  padding: 0 5px 0 0;
  vertical-align: top;
}
.my .block-menu {
  margin-top: 20px;
  margin-bottom: 20px;
  display: table;
  width: 100%;
}
.my .block-menu .col-xs-6 {
  padding-left: 5px;
  padding-right: 5px;
  display: table;
  margin-bottom: 10px;
}
.my .block-menu .name {
  border: 1px solid #fff;
  display: table-cell;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  cursor: pointer;
}
.my .block-menu .name:hover {
  background: rgba(203, 203, 203, 0.2);
}
